@page
@model Specification.Pages.SmartPlaylists.IndexModel
@{
    ViewData["Title"] = "Smart Playlists";
}

<h2>Smart Playlists</h2>

@{ Html.RenderPartial("_SmartPlaylists", Model.SmartPlaylists); }
